::-webkit-scrollbar{width:10px;height:10px;}::-webkit-scrollbar-track{background:rgb(118,118,118);}
::-webkit-scrollbar-thumb{background:rgba(255, 0, 91, 1);}::-webkit-scrollbar-thumb:hover{background:rgba(255, 12, 45, 1);}
