/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
img {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(4px);
}
